body {
    margin: 0;
}

.header{
  background-image: url("../Public/rrhh.jpg");
  background-repeat : no-repeat;
  background-size: cover;
  object-fit: fixed;
  display: flex; /* Muestra los elementos como elementos flex */
  flex-direction: column; /* Muestra los elementos en una columna */
  gap: 0; /* Elimina el espacio entre los elementos */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square{
  position: relative; 
  width: 600px; 
  height: 500px; 
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 100px solid #3A7D44;
  background: #21FA90;
  margin: 0 auto;
  box-shadow: 10px 10px 5px black;
}

.square::before {
  content: "Menu RRHH"; /* Añade el texto al borde superior */
  position: absolute; /* Establece la posición del texto como absoluta */
  top: -70px; /* Sitúa el texto 20px por encima del borde superior */
  left: 0; /* Alinea el texto con el borde izquierdo del cuadrado */
  right: 0; /* Alinea el texto con el borde derecho del cuadrado */
  text-align: center; /* Centra el texto */
  font-size: calc(20px + 2vmin);/* Establece el tamaño de fuente en 12px */
  color: white; /* Colorea el texto de gris oscuro */
}

.square button {
    width: 200px; 
    height: 50px;
    margin-bottom: 30px;
}

.button-1 {
    background-color: #588B8B;
}

.button-2 {
    background-color: #DAC4F7;
}

.button-3 {
    background-color: #F4989C;
}

.button-4 {
    background-color: #EBD2B4;
}
